@import url('https://fonts.googleapis.com/css?family=Jua:400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jua;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 100%;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* width: calc(100% - 30px); */
    height: 100%;
    flex-flow: row;
}

.map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    height: 80%;
    border: 1px solid #000;
    overflow: hidden;
}

.backgroundBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    width: 200%;
    height: 110%;
}

img{
    width: 100%;
    height: 100%;
}

.InfoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}