html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#selectCharacter::-webkit-scrollbar,#items::-webkit-scrollbar,.modal .modal-content .modal-body::-webkit-scrollbar {
    height: 10px;
    width: 100%;
}

#selectCharacter::-webkit-scrollbar-thumb,#items::-webkit-scrollbar-thumb,.modal .modal-content .modal-body::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    max-width: 50%;
}

#selectCharacter::-webkit-scrollbar-track,#items::-webkit-scrollbar-track,.modal .modal-content .modal-body::-webkit-scrollbar-track {
    background: transparent
}

#left{
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
}

#right{
    float: right;
    width: calc(30% - 1px);
    height: 100%;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right>.characterLevel{
    font-size: 20px;
    color: #000;
}

.skill{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.play,.delete{
    width: 80%;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    padding: 10px 0;
    border: 3px solid #000;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
}

#topMenu,#bottomMenu{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto;
}

#items{
    max-width: 100%;
    height: 100px;
    display:inline-flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.item{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px;
    margin: 0 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    flex: 0 0 250px;
}

.button{
    display: inline-block;
    width: 150px;
    height: 48px;
    border: 1px solid #000;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}

#selectCharacter{
    max-width: 100%;
    height: calc(100% - 240px);
    display:inline-flex;
    align-items: center;
    flex-flow: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.character{
    width: 200px;
    height: 250px;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    scroll-snap-align: start;
    flex:0 0 200px;
}

.characterName{
    width: 100%;
    font-size:40px;
    height: 50px;
    line-height: 50px;
}

.ability{
    font-size:10px;
}

.character>img{
    width: 100px;
    height: 100px;
}

#right{
    text-align: center;
}

.abilityBox{
    width: fit-content;
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
}

button{
    cursor: pointer;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked + label{
    background-color: #888;
}

.modal input[type=text]{
    font-size: 20px;
    height: 30px;
    width:150px;
    font-weight: bold;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .modal-content{
    width: 400px;
    height: 700px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-header .modal-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal .modal-content .modal-body{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border:none;
    overflow-y: auto;
}

.modal-body div{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

#skillList{
    font-size:20px;    
    text-align: left;
}
#skillList>.selectSkill{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
#skillList>.selectSkill:hover{
    background-color: #ccc;
}
#skillList>.selectSkill>label{
    margin-left:10px;
}

.modal .modal-content .modal-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-footer button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}