.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .modal-content{
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-header .modal-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal .modal-content .modal-body{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-body p{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.modal .modal-content .modal-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content .modal-footer button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}